@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  position: relative;
  font-size: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.w-50p {
  width: 50%;
}

.w-100p {
  width: 100%;
}

.h-100v {
  height: 100vh;
}

.col-33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-unwrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.bg-light {
  background-color: #f2ab39;
}

.bg-dark {
  background-color: #8f8681;
}

.bg-tt {
  background-color: #ffd9a7;
}

.bg-white {
  background-color: #ffffff;
}

.bg-transparent {
  background: transparent;
}

.list-unstyle {
  list-style: none;
}

.text-unstyle {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-primary {
  color: #ff7a22;
}

.font-noto-sans {
  font-family: "Noto Sans TC", sans-serif;
}

.font-monospace {
  font-family: monospace;
}

.font-cursive {
  font-family: cursive;
}

.font-w3 {
  font-weight: 300;
}

.font-w6 {
  font-weight: 600;
}

.font-1x {
  font-size: .5rem;
}

.font-2x {
  font-size: 1rem;
}

.font-3x {
  font-size: 1.25rem;
}

.font-4x {
  font-size: 1.5rem;
}

.font-5x {
  font-size: 1.75rem;
}

.font-6x {
  font-size: 2rem;
}

.font-h4 {
  font-size: 2.5rem;
}

.font-h2 {
  font-size: 5rem;
}

.lh-2 {
  line-height: 2;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-3x {
  padding-top: 3rem;
}

.pt-4x {
  padding-top: 4rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-3x {
  padding-bottom: 3rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-10x {
  padding-left: 10rem;
}

.pr-10x {
  padding-right: 10rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-8r {
  margin-top: 8rem;
}

.border-round {
  border-radius: 20px;
}

.border-tranparent {
  border-color: transparent;
}

.un-outline {
  outline: none;
}

.banner-h4 {
  height: 600px;
}

.obj-position-rc {
  -o-object-position: right center;
     object-position: right center;
}

.nav {
  position: absolute;
  top: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav .nav-brand img {
  vertical-align: middle;
  height: 50px;
}

.nav .nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}

.nav .nav-lists .list-item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.nav .nav-lists .list-item a {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav .nav-lists .list-item:hover {
  background-color: #ffb77d;
}

.nav .nav-lists .list-item:hover a {
  color: #ffffff;
}

.nav.fixed, .nav.sticky {
  position: fixed;
  top: 0;
  -webkit-animation-name: fixNav;
          animation-name: fixNav;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.nav.fixed {
  background: #f3f1f1d2;
}

.nav.fixed .nav-lists a {
  color: #000000;
}

@-webkit-keyframes fixNav {
  from {
    top: -10%;
  }
  to {
    top: 0;
  }
}

@keyframes fixNav {
  from {
    top: -10%;
  }
  to {
    top: 0;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.footer-content > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .logo-container img {
  width: 200px;
  height: 100px;
  vertical-align: middle;
  margin-right: auto;
}

.footer .logo-container P {
  margin-right: auto;
  color: #4d4d4d;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Noto Sans TC", sans-serif;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.footer .contact ul li > * {
  height: 1.5rem;
  line-height: 1.5rem;
}

.footer .contact ul li i {
  width: 1.5rem;
  padding-right: .5rem;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social ul li {
  padding-left: .5rem;
  padding-right: .5rem;
}

.footer .social ul li a {
  font-size: 2.5rem;
  color: #000000;
}

.footer .copyright {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

body {
  background-color: #ffffffda;
}

#enter-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&auto=format&fit=crop&w=1947&q=80");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&auto=format&fit=crop&w=1947&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-lg .banner-btn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
}

.banner-lg .banner-btn:hover {
  color: #ffffff;
  border-color: #ffb366;
  background-color: transparent;
}

.banner-lg [data-item] {
  opacity: 0;
  -webkit-transform: translateY(55vh);
          transform: translateY(55vh);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.banner-lg [data-item="1"].show, .banner-lg [data-item="2"].show, .banner-lg [data-item="3"].show {
  opacity: 1;
  -webkit-transform: translateY(25vh);
          transform: translateY(25vh);
}

.banner {
  width: 100%;
}

.banner img {
  vertical-align: middle;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 80%;
     object-position: center 80%;
}

.product-display {
  width: 100%;
  overflow: hidden;
}

.product-display .image-show {
  background-image: linear-gradient(30deg, rgba(255, 255, 255, 0) 15%, #919191 100%), url("https://images.unsplash.com/photo-1568096889942-6eedde686635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.product-display .product-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.product-display .product-carousel .carousel-view {
  position: relative;
  width: 1000px;
  height: 250px;
  overflow: hidden;
  margin: auto;
}

.product-display .product-carousel .carousel-view-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  background-color: #ffd9a7c0;
  outline: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.product-display .product-carousel .carousel-view-btn i {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  color: #d17702;
  border-width: 2px;
  border-style: solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
}

.product-display .product-carousel .carousel-view-btn.prev {
  left: -25%;
}

.product-display .product-carousel .carousel-view-btn.prev i {
  border-top: none;
  border-right: none;
  left: 12.5%;
}

.product-display .product-carousel .carousel-view-btn.next {
  right: -25%;
}

.product-display .product-carousel .carousel-view-btn.next i {
  border-left: none;
  border-bottom: none;
  right: 12.5%;
}

.product-display .product-carousel .carousel-view:hover .carousel-view-btn {
  opacity: 1;
}

.product-display .product-carousel .carousel-view:hover .carousel-view-btn.prev {
  left: 2%;
}

.product-display .product-carousel .carousel-view:hover .carousel-view-btn.next {
  right: 2%;
}

.product-display .product-carousel .carousel-view .carousel-container {
  margin: auto;
  height: 100%;
}

.product-display .product-carousel .carousel-view .carousel-container .display-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 2%;
}

.product-display .product-carousel .carousel-view .carousel-container .display-box a::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 0px;
  bottom: 20px;
  left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border-width: 0px;
  background-color: rgba(240, 215, 182, 0.5);
  -webkit-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.product-display .product-carousel .carousel-view .carousel-container .display-box a::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  background-color: #f0d7b6;
  font-size: 24px;
  color: #ffffff;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  top: 30%;
  left: calc(50% - 1.25rem);
  z-index: 1;
  opacity: 0;
  -webkit-transition: top 0.25s ease-out, opacity 0.25s ease-out;
  transition: top 0.25s ease-out, opacity 0.25s ease-out;
}

.product-display .product-carousel .carousel-view .carousel-container .display-box a:hover::before {
  height: 210px;
}

.product-display .product-carousel .carousel-view .carousel-container .display-box a:hover::after {
  top: calc(50% - 1rem);
  opacity: 1;
}

.product-display .product-carousel .carousel-view .carousel-container .display-box a img {
  vertical-align: middle;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.menu .product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.menu .product-title {
  height: 5rem;
}

.menu .product-title h4 {
  height: 100%;
  line-height: 5rem;
}

.menu .product-title p {
  height: 100%;
  line-height: 5rem;
}

.menu .product-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 5rem;
}

.menu-nav .nav-box {
  width: 100%;
  padding: 0px 5rem;
}

.menu-nav .nav-box li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  font-size: 1.25rem;
  padding: 10px 0px;
  padding-left: 10%;
  color: #686868;
  margin-bottom: 1rem;
  border-radius: 12px;
  border-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.menu-nav .nav-box li span {
  display: block;
  -o-object-position: center center;
     object-position: center center;
  height: calc(1.25rem + 5px);
  width: calc(1.25rem + 5px);
  border-radius: 50%;
  background-color: #F8CE90;
  margin-right: .5rem;
  -webkit-transition: margin-right 0.25s ease-out;
  transition: margin-right 0.25s ease-out;
}

.menu-nav .nav-box li:hover, .menu-nav .nav-box li.current-select {
  background-color: #F8CE90;
  border-radius: 12px;
  border-color: transparent;
  border-width: 0px;
  color: #000000;
}

.menu-nav .nav-box li:hover span, .menu-nav .nav-box li.current-select span {
  height: calc(1.25rem - 5px);
  width: calc(1.25rem - 5px);
  background-color: #fff;
  margin-left: 5px;
  margin-right: 2.5rem;
}

.service-items-img {
  width: 150px;
  height: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.service-items-img img {
  vertical-align: middle;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-partner-logo {
  width: 750px;
}

.service-partner-logo img {
  vertical-align: middle;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.return-top-btn {
  position: fixed;
  top: 85vh;
  left: 92vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border-color: transparent;
  border-style: solid;
  border-width: 0px;
  background-color: #fa9d46;
}

.return-top-btn button {
  width: 85%;
  height: 85%;
  outline: none;
  border-radius: 50%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  background-color: #ffb35d;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 33.333333%;
      -ms-flex: 33.333333%;
          flex: 33.333333%;
  max-width: 33.333333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #fdcf9265;
  -webkit-transition: -webkit-box-shadow 0.15s ease-out;
  transition: -webkit-box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
}

.product-card-img {
  width: 300px;
  height: 300px;
}

.product-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.product-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
}

.product-card-content .product-card-text {
  width: 200px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card-content .product-card-text > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card-content .product-card-text h4 {
  color: #F88D23;
}

.product-card-content .product-card-text span {
  color: #D50D0D;
}

.product-card-content .product-card-btn {
  width: 80px;
  height: inherit;
  padding: 15px;
  outline: none;
  cursor: pointer;
  border-width: 0px;
  border-color: transparent;
  background-color: #F8CE90;
  margin-left: auto;
}

.product-card-content .product-card-btn img {
  height: 100%;
}

.product-card:hover {
  -webkit-box-shadow: 7px 7px 12px 0px #aaa9a8;
          box-shadow: 7px 7px 12px 0px #aaa9a8;
}
