.container {
    display: flex;
    width: 100%;
    height: unset;
    padding: 0 2rem 0 2rem;

    @include breakpoint-down(tablets) {
        padding: 0 1rem 0 1rem;
    }
}

.flex {
    display: flex;

    &-column {
        flex-direction: column;
    }

    &-justify-center {
        justify-content: center;
    }

    &-align-center {
        align-items: center;
    }
}

button {
    border: transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    i {
        pointer-events: none;
    }
}