@import 'setting';

.nav{
    position: absolute;
    top: 0%;
    flex: 1;
    box-sizing: border-box;
    transition: all 0.25s ease-out;
    z-index: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    .nav-brand{
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        img{
            vertical-align: middle;
            height: 50px;
        }
    }
    .nav-lists{
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;

        .list-item{
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            transition: all 0.25s ease-out;
            
            & a{
                font-family: $noto-sans;
                font-size:1rem;
                display: flex;
                height: 100%;
                width: 100%;
                line-height: 60px;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            &:hover{
                background-color: rgb(255, 183, 125);
                a{
                    color: #ffffff;
                }
            }
            
        }
    }

    &.fixed,&.sticky{
        position: fixed;
        top: 0;
        animation-name: fixNav;
        animation-duration: 0.4s;
        animation-timing-function: ease-out;
        
    }

    &.fixed{
        background: #f3f1f1d2;
        .nav-lists{
            a{
                color: #000000;
            }
        }
    }
}

@keyframes fixNav{
    from{
        top: -10%;
    }
    to{
        top: 0;
    }
}