@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap'); 

$noto-sans:'Noto Sans TC', sans-serif;
// 
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    position: relative;
    font-size: 20px;
}

.container{
    display: flex;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.w-50p{
    width: 50%;
}

.w-100p{
    width: 100%;
}

.h-100v{
    height: 100vh;
}

.col-33{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-50{
    flex: 0 0 50%;
    max-width: 50%;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-unwrap{
    flex-wrap: nowrap;
}

.bg-light{
    background-color: #f2ab39;
}

.bg-dark{
    background-color: #8f8681;
}

.bg-tt{
    background-color: #ffd9a7;
}

.bg-white{
    background-color: #ffffff;
}

.bg-transparent{
    background: transparent;
}

.list-unstyle{
    list-style: none;
}

.text-unstyle{
    text-decoration: none;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-white{
    color: #ffffff;
}

.text-black{
    color: #000000;
}

.text-primary{
    color: #ff7a22;
}

.font-noto-sans{
    font-family: $noto-sans;
}

.font-monospace{
    font-family: monospace;
}

.font-cursive{
    font-family: cursive;
}

.font-w3{
    font-weight: 300;
}

.font-w6{
    font-weight: 600;
}

.font-1x{
    font-size: .5rem;
}

.font-2x{
    font-size: 1rem;
}

.font-3x{
    font-size: 1.25rem;
}

.font-4x{
    font-size: 1.5rem;
}

.font-5x{
    font-size: 1.75rem;
}

.font-6x{
    font-size: 2rem;
}

.font-h4{
    font-size: 2.5rem;
}

.font-h2{
    font-size: 5rem;
}

.lh-2{
    line-height: 2;
}

.pt-2{
    padding-top: 0.5rem;
}

.pt-4{
    padding-top: 1rem;
}

.pt-6{
    padding-top: 1.5rem;
}

.pt-3x{
    padding-top: 3rem;
}

.pt-4x{
    padding-top: 4rem;
}

.pb-2{
    padding-bottom: 0.5rem;
}

.pb-6{
    padding-bottom: 1.5rem;
}

.pb-3x{
    padding-bottom: 3rem;
}

.pr-2{
    padding-right: 0.5rem;
}

.pl-4{
    padding-left: 1rem;
}

.pl-10x{
    padding-left: 10rem;
}

.pr-10x{
    padding-right: 10rem;
}

.mb-6{
    margin-bottom: 1.5rem;
}

.mt-2{
    margin-top: 0.5rem;
}

.mt-8r{
    margin-top: 8rem;
}

.border-round{
    border-radius: 20px;
}

.border-tranparent{
    border-color: transparent;
}

.un-outline{
    outline: none;
}

.banner-h4{
    height: 600px;
}