$color: (primary : #FA8C16,
    second :#FCB348,
    light-orange:#f8ce90,
    white : #FFFFFF,
    dark-orange:#ad4e00);

$buying-card : (def : (width : 1200px, height : 600px),
    desktop-xl : (width : calc(500px + 35vw), height : 600px),
    laptops : (width: 600px, height: 600px),
    tablets : (width: calc(180px + 50vw), height: calc(280px + 30vw)),
    mobile : (width: 100%, height: 100vh));

$buying-card-font-size : (def : (3.2rem, 1.75rem, 1rem),
    desktop-xl : (2.4rem, 1.5rem, 1rem),
    tablets : (calc(20px + 2vw), calc(12px + 2vw), 14px),
    mobile : (1.8rem, 1rem, 0.75rem));

