@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.0/css/all.min.css');
@import 'setting';
@import 'nav';
@import 'footer';
@import 'library';






body{
    background-color: #ffffffda;
}

















#enter-page{
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url('https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&auto=format&fit=crop&w=1947&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner-lg{
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner-btn{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-style: solid;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            color: #ffffff;
            border-color: #ffb366;
            background-color: transparent;
        }
    }
    [data-item]{
        opacity: 0;
        transform: translateY(55vh);
        transition: all 1s ease-out;
    }
    [data-item="1"].show, [data-item="2"].show, [data-item="3"].show{
        opacity: 1;
        transform: translateY(25vh);
    }
}

.banner{
    width: 100%;
    img{
        @include img-set(0px, 100%, 100%);
        object-position: center 80%;
    }
}




































.product-display{
    width: 100%;
    overflow: hidden;

    .image-show{
        background-image: linear-gradient(30deg, rgba(255, 255, 255, 0) 15%, rgb(145, 145, 145) 100%),url('https://images.unsplash.com/photo-1568096889942-6eedde686635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        ;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    .product-carousel{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .carousel-view{
            position: relative;
            width: 1000px;
            height: 250px;
            overflow: hidden;
            margin: auto;

            &-btn{
                position: absolute;
                width: 50px;
                height: 50px;
                top: calc(50% - 25px);
                border-style: solid;
                border-width: 0px;
                border-color: transparent;
                background-color: #ffd9a7c0 ;
                outline: none;
                cursor: pointer;  
                opacity: 0;
                transition: all 0.3s ease-out;
                z-index: 2;

                i{
                    position: relative;
                    display: block;
                    width: 25px;
                    height: 25px;
                    color: #d17702;
                    border-width: 2px;
                    border-style: solid;
                    transform: rotate(45deg);
                    margin: auto;
                }
                
                &.prev{
                    left: -25%;
                    i{
                        border-top: none;
                        border-right: none;
                        left: 12.5%;
                    }
                }
                &.next{
                    right: -25%;
                    i{
                        border-left: none;
                        border-bottom: none;
                        right: 12.5%;
                    }
                }
            }

            &:hover{
                .carousel-view-btn{
                    opacity: 1;
                    &.prev{
                        left: 2%;
                    }
                    &.next{
                        right: 2%;
                    }
                }
            }

            .carousel-container{
                margin: auto;
                height: 100%;

                .display-box{
                    @include product-box-set(25%);
                    padding: 2%;

                    a{
                        @include product-pseudo-set(210px, 20px, 20px, 2.5rem, 30%, calc(50% - 1rem));
                        
                        img{
                            @include img-set(20px, 100%, 100%);
                        }
                    }
                }
            }
        }
    }
}





































.menu{
    padding-top: 3rem;
    padding-bottom: 3rem;

    .product{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        &-title{
            height: 5rem;

            h4{
                height: 100%;
                line-height: 5rem;
            }

            p{
                height: 100%;
                line-height: 5rem;
            }
        }

        &-content{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
        }
    }

    &-nav{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;

        //Title Height
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 5rem;

        // background-color: #acd;

        .nav-box{
            width: 100%;
            padding: 0px 5rem;
            li{
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                background-color: #fff;
                font-size: 1.25rem;
                padding: 10px 0px;
                padding-left: 10%;
                color: #686868;
                margin-bottom: 1rem;
                border-radius: 12px;
                border-color: transparent;
                border-width: 0px;
                
                cursor: pointer;

                span{
                    display: block;
                    object-position: center center;
                    height: calc(1.25rem + 5px);
                    width: calc(1.25rem + 5px);
                    border-radius: 50%;
                    background-color: #F8CE90;
                    margin-right: .5rem;

                    transition: margin-right 0.25s ease-out;
                }

                &:hover, &.current-select{
                    
                    background-color: #F8CE90;
                    border-radius: 12px;
                    border-color: transparent;
                    border-width: 0px;
                    color: #000000;

                    span{
                        height: calc(1.25rem - 5px);
                        width: calc(1.25rem - 5px);
                        background-color: #fff;
                        margin-left: 5px;
                        margin-right: 2.5rem;
                    }
                }
            }
        }
    }
}

































.service{
    &-items{
        
        &-img{
            width: 150px;
            height: 150px;
            flex: 0 0 150px;
            img{
                @include img-set(0px, 100%, 100%);
            }
        }
    }

    &-partner{
        &-logo{
            width: 750px;
            img{
                @include img-set(0px, 100%, 100%);
            }
        }
    }
}




























.return-top-btn{
    position: fixed;
    top: 85vh;
    left: 92vw;
    width: 4rem;
    height: 4rem;
    @include border-round-set(50%, 0px, transparent, solid);
    background-color: #fa9d46;
    

    button{
        width: 85%;
        height: 85%;
        outline: none;
        @include border-round-set(50%, 1px, #ffffff, solid);
        background-color: #ffb35d;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
    }
}




































.product-box{
    display: flex;
    flex: 33.333333%;
    max-width: 33.333333%;
    justify-content: center;
    margin-bottom: 50px;
}

.product-card{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: #fdcf9265;
    transition: box-shadow 0.15s ease-out;

    &-img{
        width: 300px;
        height: 300px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }


    &-content{
        display: flex;
        width: 100%;
        height: 80px;

        .product-card-text{
            width: 200px;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > *{
                display: flex;
            }

            h4{
                color: #F88D23;
            }

            span{
                color: #D50D0D;
            }       
        }


        .product-card-btn{
            width: 80px;
            height: inherit;
            padding: 15px;
            outline: none;
            cursor: pointer;
            border-width: 0px;
            border-color: transparent;
            background-color: #F8CE90;
            margin-left: auto;
            
            img{
                height: 100%;
            }
        }
    }


    &:hover{
        box-shadow: 7px 7px 12px 0px #aaa9a8;
    }
}