@use "global" as *;

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoint-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoint-down, $size)) {
        @content;
    }
}

@mixin img-set($radius, $width, $height) {
    width: $width;
    height: $height;
    border-radius: $radius;
    vertical-align: middle;
    object-fit: cover;
    @content;
}

@mixin circle-make($width, $color) {
    border: none;
    border-radius: 50%;
    width: $width;
    height: $width;
    background-color: $color;
}

@mixin product-card-setting($card-width, $card-radius, $text-height, $text-padding, $btn-padding) {
    .product-card {
        width: $card-width;
        border-radius: $card-radius;

        &-img {
            width: $card-width;
            height: $card-width;
        }

        &-content {
            height: $text-height;

            .product-card-text {
                width: auto;
                padding: 0 $text-padding;
            }

            .product-card-btn {
                width: $text-height;
                height: $text-height;
                padding: #{$btn-padding};
            }
        }
    }
}

@mixin banner-set($height, $img-pos-x, $img-pos-y) {
    width: 100%;
    height: $height;

    img {
        @include img-set(0px, 100%, 100%);
        object-position: $img-pos-x $img-pos-y;
    }
}

@mixin buying-card-box-set($type) {
    $size: map-get($buying-card, $type);
    width: map-get($size, width);
    height: map-get($size, height);
}

@mixin buying-card-font-size($type) {
    $font-list: map-get($buying-card-font-size, $type);

    h4 {
        font-size: nth($font-list, 1);
    }

    h5 {
        font-size: nth($font-list, 2);
    }

    span {
        font-size: nth($font-list, 3);
    }
}

@mixin btn-set {
    cursor: pointer;
    outline: none;
    @content;
}
